                                                             Programming with Guido van Rossum
Python was created by Guido van Rossum, and first released on February 20, 1991. While you may know the python as a large snake, the name of the Python programming language comes from an old BBC television comedy sketch series called Monty Python's Flying Circus.python's origin country:Netherlands.Guido van Rossum developed python 1st version to overcome the challenges faced in ABC langauge in his christmas holidays.

                                                                        Introduction
Basics:
            Introduction,Variables,Operations,If Else,Loops,Lists,Guess the Number Game,Debugging,Tuples,Dictionary,Set,String Formatting,String Slicing,Functions,Variable Scope,Variable Length Arguments,Recursion,Generators,Modules,Exception Handling,Files
Object Oriented:
            OOP introduction,Classes and Objects,Class Variables,Inheritance,Method Overriding,Method Chaining,Super Function,Abstract Class,Passing Objects,Duck Typing,Library Management
    Advanced:
            Higher Order Functions,Lambda,Sorting with Key,Map,Filter,Reduce,List Comprehension,Dictionary Comprehension,Zip Function,MultiThreading,How Python Interpreter Works?,Memory Management,Learning path
            
What is a program?

            Instruction given to computer
            Eg: Add to 2 and 5
              
Can a computer understand English language?

              No a computer cannot undertstand english,that's why we use programming language like c,c++,Python and so on,through a programming language we can communicate with computer,those instruction known as program.
              
Applications of Python:

                #Build a website
                
                #Build a game
                
                #Artifical intelligence
                
                #Data Science
                
                #Automation
                
                Instagram,Quora were (complete architecture)build using python,spotify,netflix were majorly used python.

First python Program

In [18]:
print('Hello everyone')#String- set of characters-comment

Hello everyone

Source Code---------->Python Interpreter----------->Processor(transistors,capacitor)

Interpreter-software or piece of code (Converts Object Code to Machine Code).

function-print()-inbuild function-call

#Generally function includes parenthesis.

#Usually function is used to do a particular task eg:print().

#we are using python 3 not python 2.

Variables

Interpreter executes statement line by line where as compiler compiles  statement completely before sending to processor

Programming language like c,c++,we need to mention datatype of the variable(int num = 12;),in python we don't need to specify the data type of the variable, that's why python is known as dynamically typed language.

Statically typed language   - c,c++

Dynamically typed language   - Python

 #-Single line comment(Used to specify single line).
 
 ' ' '    ' ' '-multi line comment(three single quotes-Used to specify multiple line-paragraph).

The rules to be followed while naming a variable

valid   - name,first_name,name_234,_name(Underscore is the only special character allowed to name a variable).

invalid -name#,name$,1name,reversed keyword Eg:print(Space between the variable name is not allowed,we can use underscore(_)between the variable name),Variable name shoud be meaningful Eg:abc,the Variable name shoud describe the content stored in it.

In other programming language,we will name identifier using camelcase naming convention(Eg:firstName),Python will allow camelcase naming convention ,but using underscore(_) will be a good pratice for python developers.

A variable used to store string,whole numbers,floating point numbers,boolean values.

In [19]:
name ='Bharath' #name- variable used to store the data or value temporily
print(name)
print('hi '+ name)
name="Rahul0206" #String
print("hi " + name) 
price = 45       #Integer(number)
price  = 45.5    #Float(Decimal)
child = True     #Boolean type(True or False)

Bharath
hi Bharath
hi Rahul0206

String Handling

Inbuild method's available in string

Methods,functions- performs a particular task,both comes along with parentheses because sometimes we need to give more information to perform specific task

Function - Called directly

method   - Should be invoked by variable or object using . dot Operator
 Concatenation - add to number in numbers(10+5),join two string(Hi + "\t"+ Bharath)

 Escape sequence(backslash-\)-\n move to curser to next line and then print it, \t create one tab space and then print it.

 Website:

In [20]:
data ="Bharath's brother"
name ='Rahul'
moto ='"inner peace"'
sample_string="Au cse's@ds2024"#space,special symbols,numbers are counted in character,python assign index for each character which start from 0.
print(data)
print(name)
print(moto)
print(name.upper())#print-function,upper-method
print(name.lower())
print(moto.title())#converts first letter of the word to capital
print(data+name) #Concendination without space 
print(data+"\t"+name)
database=data +name# righthand side always stored in lefthand side
print(database)
print("Hi \n Bharath")
print("Hi \t Bharath")
print(len(moto))#Used to find the length of string
print(len(sample_string)) #method will find and return the value ,print is used to print that value.
print(sample_string.find("s"))#Used to find a character in a string,if the sting contains to same character in string python consider first occurance.
print(data.count('b'))#python will swift to inbuild method when we call those method,execute it and return value and then back to source code.
print(data.replace("r",'a'))
print(data.isalpha())#Used to find the whether all the characters in the string are alphabets,which returns true or false ,this statement is False because space is considered as character.
print(name.isalpha())
print(name.isdigit())#Used to find the whether all the characters in the string are numbers
print(data * 20)#This is one of the great advamtage of python,we can't perform this operation in must of the programming languages.
#Other String methods isupper(),islower() and so on.

Bharath's brother
Rahul
"inner peace"
RAHUL
rahul
"Inner Peace"
Bharath's brotherRahul
Bharath's brother	Rahul
Bharath's brotherRahul
Hi
 Bharath
Hi 	 Bharath
13
15
4
1
Bhaaath's baothea
False
True
False
Bharath's brotherBharath's brotherBharath's brotherBharath's brotherBharath's brotherBharath's brotherBharath's brotherBharath's brotherBharath's brotherBharath's brotherBharath's brotherBharath's brotherBharath's brotherBharath's brotherBharath's brotherBharath's brotherBharath's brotherBharath's brotherBharath's brotherBharath's brother

Multiple Assignment

We call it as assignment(=) because we are assigning RHS value to LHS Variable.

In [21]:
name='Rahul'
age = 16
height=178
# OR
name,age,height='Rahul',16,178#Sometimes python interpreter shows error to resolve those we need to leave space next to comma(,).
print(age)

Instagram_likes=200
Instagram_dislikes=200
#OR
Instagram_likes=Instagram_dislikes=200#Both are same.
print(Instagram_likes)

16
200

Type Casting

In [22]:
rollno=2036110028
#print("Your roll Number is: "+rollno)Python interpreter shows an error while executing because string can be concatenate String not other data type values(Eg:int)
#Type Casting plays a vital role to resolve this issue.
print("Your roll Number is: "+str(rollno))#type casting-in this line of code 'rollno'is temporarily changes its type(Int to Str)for only for this instanse,check the data type of rollno variable it remains same as Int datatype.
print(type(rollno))# In python Programming language we should'nt mention datatype of variable, we should mention this variable belongs to Class Int.
#Python is pure object oriented programming language everything is viewed as Classes and Object.

#If we wish to change the type of the data permanantly,we can use this method
rollno=str(rollno)
print(type(rollno)) 

number="50" #Belongs to String Class
print(int(number)+2)#Type Casting(Int)
print(number+'2')

Float_number="50.2"
print(float(Float_number)+2)#Type Casting(Float)

print(int(float(Float_number))+2)

Your roll Number is: 2036110028
<class 'int'>
<class 'str'>
52
502
52.2
52

User Input - We can't develop all the project without getting input from user,we may need to get some information from user(Interaction with user).

In general,Input function will return the 'Str' value,we can change type of data using "Type Casting".

To reduce places in floating value,we can use format method, to use format method we should give str(" ") in front of format method(str.format),to represent str we use double quotes inside double quotes we mention {} curly braces ,inside placeholder we would mention required format.

To view only two decimal  places after point:Syntax-"{:.2f}".format.

In [23]:
input("Enter your name: ")#input(function)-print the content inside the parentheses and then get the input data from the user and return it.First execute the inner most(nested form).
name= input("Enter your name: ")#the returned data received from the user and the store it in variable called 'name'.
print('Hi '+name)
#height=input('Metion your height')due to errors in loc-6,Type casting need to be implemented.
height=float(input('Metion your height'))
print('your height '+str(height)+' cm')
#print('your height '+height/2.54+' inchs')Shows errors because 'height' belongs to class Str,a number can't divide a Str.
#print('your height '+str(height/2.54)+' inchs')
height_inchs="{:.2f}".format(height/2.54)
print('your height '+height_inchs+' inchs')

Enter your name:  Rahul
Enter your name:  Rahulraj

Hi Rahulraj

Metion your height 179

your height 179.0 cm
your height 70.47 inchs

Math Operations

In [24]:
a=b=5

In [25]:
a+b#Addition

10

In [26]:
a-b#Subtraction

0

In [27]:
a*b#multiplication

25

In [28]:
a/b#Division

1.0

In [29]:
a/6

0.8333333333333334

In [30]:
b/2

2.5

In [31]:
5+2 #Usually we don't add two numbers.

7

In [32]:
(a+b)*2

20

In [33]:
a+b*2#the output will be different from previous cell,both may be similar,OPERATOR PRECEDENCE plays a vitol role in exectution.to overcome operator precedence we can use parentheses.

15

 Some of the useful mathematical functions

In [34]:
a=9.71
round(a)#Used to round off the number

10

In [35]:
a=-2
abs(a)#abs-returns absolute value(used to convert negative value to positive value)

2

In [36]:
a=2
abs(2)

2

In [37]:
pow(a,2) #Used to calculate the power of the number

4

In [38]:
#Instead of using power function,we can use other way(using double multplication symbol-star)
a**2

4

In [39]:
max(a,b)#Compare the two values in variables,return maximum value.

5

In [40]:
print(min(a,b))#Compare the two values in variables,return minimum value.

2

There are many other mathematical functions available in python to use those functions,we must import a module called "math",inside math module there are many mathematical functions.

Website:

In [41]:
import math
OGPA=9.03
#print(ceil(OGPA))we  need to specify that the ceil function belongs to math module(Remember hadoop change directry).
math.ceil(OGPA)#Round off to next number.

10

In [42]:
math.floor(OGPA)#Round off to previous number

9

In [43]:
math.factorial(7)

#GCD function also available in 'math' module.

5040

In [44]:
#Modulus operator
a=7
a%2#Returns remainder while dividing traditional division operator(a/2)gives us quotient.Used to check whether the division is carried out properly or not

1

In [45]:
a/2 #Division Operation

3.5

If Else

In a program we can,t instruct the interpreter to execute all code line by line,sometimes we need to execute the program based upon some condition.in many situation based upon the condition the instructions must be changed.

Branching will be performed(If Else-condition),must(Relational operator) will be used in the If Conditional statement instead of variable name.

In [46]:
Student_rollno=True
if Student_rollno:
    print('You are a student of Annamalai University')
else:
    print('You are not a student of Annamalai University')
print('Thank you')

Student_rollno=False
if Student_rollno:#Conditional Statement
    print('You are a student of Annamalai University')
else:
    print('You are not a student of Annamalai University')
print('Thank you')

You are a student of Annamalai University
Thank you
You are not a student of Annamalai University
Thank you

We Can find values by comparing variables(Relational operator)-used to compare the relationship between two number,variables and so on,the result will be always true or false
because we are asking questions to python.

In [47]:
number=30 
number > 0 #Greater than

True

In [48]:
number > 200 #Greater than

False

In [49]:
number < 20 #Lesser than

False

In [50]:
number < 70 #Lesser than

True

In [51]:
number >= 40  #Greater than or equal to

False

In [52]:
number >= 30  #Greater than or equal to

True

In [53]:
number <= 40  #Lesser than or equal to

True

In [54]:
number >= 30  #Lesser than or equal to

True

In [55]:
number == 30  #equal to

True

In [56]:
number == 40  #equal to

False

In [57]:
number != 30  #not equal to

False

In [58]:
number != 40  #not equal to

True

In [59]:
paper_mark=90
if paper_mark %10==0:#Number divisible by 10,if remainder+0-divided properly.
    print(str(paper_mark)+' is multiple of 10')
else:
    print(str(paper_mark)+' is not multiple of 10')

90 is multiple of 10

elif ladder-Used to assign multiple if conditional statement

In [61]:
cutoff_mark=int(input('Enter your cuttoff mark: '))
if cutoff_mark > 180:
    print('You will get a seat in CSE(Data Science) program in Annamali University' )
elif cutoff_mark >= 170:
    print('You will get a seat in CSE(AI and Ml) program in Annamali University' )
elif cutoff_mark >= 160:
    print('You will get a seat in CSE program in Annamali University' )
elif cutoff_mark >= 150:
    print('You will get a seat in IT program in Annamali University' )
elif cutoff_mark >= 140:
    print('You will get a seat in Chemical Engineer program in Annamali University' )
elif cutoff_mark > 110:
    print('You will get a seat in EEE program in Annamali University' )
else:
      print('You may not get a seat in Annamali University' )
print('All the best' )

Enter your cuttoff mark:  190

You will get a seat in CSE(Data Science) program in Annamali University
All the best

nexted if-Used to assign multiple  if conditional statement  inside a if conditional statement

Always else part is optional not neccessary

Logical operators -(AND OR NOT)-We need to remember truth table's logic.

In [62]:
#Check if the given number is a three digit even number

Input_data=int(input('Enter the number'))
if Input_data > 99 and Input_data < 1000:
    if Input_data % 2 == 0:
        print(str(Input_data)+' is a three digit even number')
else:
    print('You have entered non three digit even number')

Enter the number 158

158 is a three digit even number

In [ ]:
name=input('Enter your name')
if name[0]=='a'or name[0]=='A':
    print('Your name starts with A,B,c alphabetic letters')
else:
    print("Your name does'nt start with the alphabetic letter-a ")

#Try code signal

Bitwise Operators

&  - and

|  - or

~  - not

^  - exor

>> - left shift

<< - right shift  

(very strict OR-true if one input as true and another input as false)

In Computer Memory Everything will be Stored in form of 0's and 1's(Transistor will be connected with the capacitor in the circuit)

If it gets charged it is considered as 1, if not it is considered as 0 - as scale integration in decimal number each will be consider as a digit, likewise in binary number each will be considered as a bit.

consider 5-101 bitwise operator will perform operation on each bit(handles it) but other operators perform operation by whole number

         6-110 at the background everything will be handled in a bit wise manner don't see in that point of view see in programmer's point of view
                                                
negative numbers can be handled using 2s complement(which will be stored.

Application of BitwiseOperators

 .messages(encryption-decryption)--whatsapp
 
 .networks parity checking,error codes
 
 .Graphics-EXOR operator has been used

In [1]:
a=4
b=5
a&b

4

In [2]:
a|b

5

In [3]:
a^b

1

In [5]:
~a

-5

In [18]:
13 >> 1 #Right  shift number will be halved,0 will be filled in empty space

6

In [14]:
13 >> 2

3

In [16]:
13 << 1 #left shift number will be doubled

26

In [12]:
13 << 2

52

In [24]:
-12 >> 1# if 1 is placed to denote sign,then 1 will be retained,python won,t introduce 0 all the time,if 1 is assigned in MSB then the number is number is negative number.

-6

String Slicing- Used to take a particular part from String. Example:Maybe a letter from a string

ways to implement String Slicing:

 Using Indexing

 Using Slice Method

 Python's Indexing

      A   n   n   a   m   a   l   a   i       U  n  i  v  e  r  s  i  t  y 
      0   1   2   3   4   5   6   7   8   9   10 11 12 13 14 15 16 17 18 19 Positive indexing
     -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 Negative indexing -used to access from the reverse order

In [4]:
 UGC='Annamalai University'

Using Indexing-String Slicing

str(start:stop:step)

In [34]:
print(UGC[3])

a

In [38]:
print(UGC[0:4]) #Range of values,Python won,t print till index(4), it will print till(3). 0--Start index,4--Stop index

Anna

In [40]:
print(UGC[:4])#Print from the starting index.

Anna

In [42]:
print(UGC[10:])#Print from the index(3).

University

In [43]:
print(UGC[0:8:2])

Anml

In [45]:
#Negative indexing
print(UGC[-4])

s

In [48]:
print(UGC[-9:-3])

nivers

In [52]:
print(UGC[-3:-9:-1])

isrevi

In [13]:
print(UGC[::-1])#We can perform lot of things using(-1),in this scenario python would print entire string in reverse order.

NameError: name 'UGC' is not defined

In [57]:
print(UGC[:-9:-1])

ytisrevi

In [58]:
print(UGC[7:-7])#we can mix both positive and negative indexing

ai Uni

 Using Slice Method-String Slicing

In [5]:
x=(slice(2,-2))
print(UGC[2:-2])

namalai Universi

Lists

Python's  indexing starts from 0

In [14]:
Countries=['India','China','Russia','Germany']
values=[1,2,3,4,5]
Lists_data=[92,'India',100,'China']#we can give different data types in list.

In [16]:
print(Countries[0])
print(values[2])
print(values[:2])#We can use slicing method in Lists.
print(values[-1])
print(Countries[::2])#in steps of two.
print(values)#print full values.

India
3
[1, 2]
5
['India', 'Russia']
[1, 2, 3, 4, 5]

In [17]:
print(Countries)
#Modiftying use to alter(Change) the existing values.
Countries[3]='Japan'
print(Countries)

['India', 'China', 'Russia', 'Germany']
['India', 'China', 'Russia', 'Japan']

In [18]:
#Append-Adding values to the end.
values.append(6)
print(values)

[1, 2, 3, 4, 5, 6]

In [19]:
#Insert-Adding at the middle.
values.insert(4,4.5)#4-refers index,4.5-refers value
print(values)

[1, 2, 3, 4, 4.5, 5, 6]

In [20]:
#Remove values using 'del',
del values[4]#if we use del keyword we don't which element has been deleted
print(values)

[1, 2, 3, 4, 5, 6]

In [15]:
Delected_element=values.pop()#by default Remove last element,we can also specify the index inside the parentheses
print(str(Delected_element) + "has been delected")#diff b/w del(keyword) and pop(method) is del which does'nt mention the element that has been deleted.
print(values)

5has been delected
[1, 2, 3, 4]

In [28]:
#Remove by value-If we know the element

values.remove(3)
print(values)

[1, 2]

In [32]:
 t=['t','t']
t.remove('t')
print(t)

['t']

Sorting-string"Arrange in alphabetic Order".Number"Arrange in acsending Order"

There are  major types of Sorting 

. Permanent Sort--list_name.sort()

. Temporary Sort--print(sorted(list_name))

In [39]:
Universities_name=['Annamalai University','Anna University','SRM','Bharathidasan University']
Numbers_list=[1,2,3,20,30,25,4,5,6]

In [17]:
#Temporary Sort:
print(sorted(Universities_name))
print(Universities_name)
#Permanent Sort:
Universities_name.sort()
print(Universities_name)

#Temporary Sort:
print(sorted(Numbers_list))
print(Numbers_list)
#Permanent Sort:
Numbers_list.sort()
print(Numbers_list)

#Reverse
Numbers_list.reverse()# Reverse permantently if we want the  old form of the list,we need to use reverse method again.
print(Numbers_list)

NameError: name 'Universities_name' is not defined

Length of the list:

In [50]:
print(len(Numbers_list))

9

In [51]:
len(Numbers_list)

9